/* Base container style */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Optional: Light background for the page */
    height: 100vh;
    min-height: 100%;
}

.form-body {
    padding-left: 20px;
    padding-right: 20px; 
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 100%;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the content inside the container */
}

/* Form Title */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Input Fields */
.input-field {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-field:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Buttons */
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-auth {
    background-color: #4CAF50;
    color: white;
}

.btn-auth:hover {
    background-color: #45a049;
}

/* Links */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Error message */
.error-msg {
    color: red;
    text-align: center;
}

/* Dashboard Header */
.dashboard-body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dash-container h2 {
    margin-bottom: 70px;
    text-transform: uppercase;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.dashboard-header h1 {
    margin: 0;
    width: 100%;
}

.dashboard-header a {
    color: white;
    text-decoration: none;
    background-color: #f44336;
    padding: 10px 20px;
    border-radius: 4px;
    max-width: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-header a:hover {
    background-color: #e53935;
}

.ai-section {
    background-color: white;
    gap: 50px;
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 50px;
}

/* File Upload Customization */
.file-upload-label {
    display: inline-block;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.file-upload-label:hover {
    background-color: #45a049;
}

/* Hide the actual file input */
#file-upload {
    display: none;
}

/* Image Preview */
.image-preview-container {
    margin-top: 15px;
    text-align: center;
}

.image-preview {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

/* Results Section */
.results {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.probability-bar {
    background-color: #f0f0f0;
    margin: 5px 0;
    border-radius: 3px;
}

.probability-fill {
    background-color: #4CAF50;
    height: 20px;
    border-radius: 3px;
    transition: width 0.5s ease-in-out;
}

/* Error message styling */
.error {
    color: red;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #fff5f5;
}

/* Form Button Styling */
.btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #45a049;
}

/* Logout Button Styling */
.btn-logout {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.btn-logout:hover {
    background-color: #e53935;
}

